@use '../../../styles/GLOBAL.scss';

#Changes {
	width: 100%;

	margin-left: GLOBAL.$SECTION_SPACING_LARGE;

	background-color: GLOBAL.$TILE_GRAY_1;

	.change_item {
		// background-color: red;

		.header {
			// background-color: orange;
		}

		ul.changes {
			list-style-type: none;

			// background-color: yellow;
		}
	}
}
