$SECTION_SPACING_LARGE: 1rem;
$SECTION_SPACING_MEDIUM: 0.66rem;

$SECTION_PADDING: 0.75rem;

$TILE_GRAY_1: #a5a5a5;
$TILE_GRAY_1_HOVER: rgb(185, 185, 185);
$TILE_GRAY_1_ACTIVE: #949494;

$TILE_GRAY_2: #c7c7c7;
$TILE_GRAY_2_HOVER: #d7d7d7;
$TILE_GRAY_2_ACTIVE: #c4c4c4;

$TILE_GRAY_3: #dfdfdf;
$TILE_GRAY_3_HOVER: #e9e9e9;
$TILE_GRAY_3_ACTIVE: #d8d8d8;

$SELECTED_1: #f0f0f0;
$SELECTED_1_HOVER: #f6f6f6;
$SELECTED_1_ACTIVE: #e3e3e3;

$BACKGROUND-COLOR_TRANSITION_TIME: 0.1s;

$EDIT_COLOR: rgb(255, 226, 143);
$EDIT_COLOR_HOVER: rgb(245, 216, 137);
$EDIT_COLOR_ACTIVE: rgb(225, 193, 103);

$DELETE_COLOR: rgb(255, 143, 143);
$DELETE_COLOR_HOVER: rgb(243, 135, 135);
$DELETE_COLOR_ACTIVE: rgb(221, 102, 102);

$ADD_COLOR: rgb(143, 255, 162);
$ADD_COLOR_HOVER: rgb(136, 245, 154);
$ADD_COLOR_ACTIVE: rgb(97, 220, 117);
