@use '../../../styles/GLOBAL.scss';

#Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-width: 15rem;
	width: 25vw;
	max-width: 30rem;

	height: calc(100vh - 2 * GLOBAL.$SECTION_SPACING_LARGE);

	// background-color: red;

	#SelectedRepo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		box-sizing: border-box;

		background-color: GLOBAL.$TILE_GRAY_2;

		&.expanded {
			height: inherit;
		}

		#currentRepo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;

			padding: 1rem GLOBAL.$SECTION_PADDING;
			padding-right: 0.5rem;
			box-sizing: border-box;

			width: 100%;
			min-height: 1rem;

			border: 1px solid black;

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_1_HOVER;

				#dropdownArrow {
					padding: 0.25rem;
					background-color: GLOBAL.$TILE_GRAY_1_HOVER;
				}
			}

			#name {
				display: inline;
				overflow: hidden;
				overflow-wrap: break-word;

				text-wrap: wrap;
			}

			#dropdownArrow {
				padding: 0.25rem;
			}
		}

		#ToggleableMenu {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			width: 100%;
			height: 100%;

			box-sizing: border-box;
			padding-top: GLOBAL.$SECTION_SPACING_MEDIUM;

			background-color: GLOBAL.$TILE_GRAY_1;

			#RepositoryActions {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 100%;

				padding-left: GLOBAL.$SECTION_SPACING_MEDIUM;
				padding-right: GLOBAL.$SECTION_SPACING_MEDIUM;
				box-sizing: border-box;

				margin-bottom: GLOBAL.$SECTION_SPACING_MEDIUM;

				// background-color: orange;

				#addProject {
					width: 100%;

					padding: 0.25rem;

					margin-bottom: calc(GLOBAL.$SECTION_SPACING_MEDIUM / 2);

					border: 1px solid black;
					outline: none;

					transition: background-color
						GLOBAL.$BACKGROUND-COLOR_TRANSITION_TIME;

					background-color: GLOBAL.$TILE_GRAY_2;

					&:hover {
						background-color: GLOBAL.$TILE_GRAY_2_HOVER;
					}
					&:active {
						background-color: GLOBAL.$TILE_GRAY_2_ACTIVE;
					}
				}

				#searchBox {
					display: flex;
					flex-direction: row;
					flex-wrap: none;
					justify-content: center;
					align-items: center;

					width: 100%;

					padding: 0.25rem;
					box-sizing: border-box;

					border: 1px solid black;

					background-color: GLOBAL.$TILE_GRAY_2;

					#searchIcon {
						display: flex;
						justify-content: center;
						align-items: center;

						filter: grayscale(100%);

						height: 1rem;
						width: 1rem;

						box-sizing: border-box;

						margin: 0rem 0.4rem;

						user-select: none;

						// background-color: blue;
					}

					#repoSearch {
						border: 1px solid GLOBAL.$TILE_GRAY_1;
						outline: none;

						width: 100%;

						box-sizing: border-box;
						padding: 0.35em 0.35em;

						background-color: GLOBAL.$TILE_GRAY_3;
					}
				}
			}

			#ProjectsList {
				display: flex;
				align-self: stretch;

				width: 100%;
				height: 100%;

				background-color: red;

				ul {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: stretch;

					overflow-y: auto;

					width: 100%;

					list-style-type: none;

					background-color: orange;

					li {
						background-color: yellow;
					}
				}
			}
		}
	}

	#ChangesCategories {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;

		height: 100%;

		margin: GLOBAL.$SECTION_SPACING_MEDIUM 0;

		box-sizing: border-box;
		// padding: GLOBAL.$SECTION_PADDING;

		list-style-type: none;
		overflow-y: auto;
		scroll-behavior: smooth;
		scrollbar-color: black;

		background-color: GLOBAL.$TILE_GRAY_1;

		.change_category {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			padding: GLOBAL.$SECTION_PADDING;

			border-bottom: 1px solid black;

			background-color: GLOBAL.$TILE_GRAY_2;

			transition: background-color
				GLOBAL.$BACKGROUND-COLOR_TRANSITION_TIME;

			.name {
				height: 100%;
				width: 100%;
				text-wrap: wrap;
				overflow-y: hidden;

				// background-color: red;
			}

			.icon {
				height: 1em;
				width: 1em;

				filter: contrast(200%);

				// background-color: blue;
			}

			&.selected {
				background-color: GLOBAL.$TILE_GRAY_3;

				&:hover {
					background-color: GLOBAL.$TILE_GRAY_3_HOVER;
				}

				&:active {
					background-color: GLOBAL.$TILE_GRAY_3_ACTIVE;
				}
			}

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_2_HOVER;
			}

			&:active {
				background-color: GLOBAL.$TILE_GRAY_2_ACTIVE;
			}
		}
	}

	#CommitPanel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		box-sizing: border-box;
		padding: GLOBAL.$SECTION_PADDING;
		padding-bottom: 0;

		input,
		textarea {
			margin-bottom: GLOBAL.$SECTION_PADDING;

			outline: none;
			border: 1px solid black;

			padding: 0.25rem 0.5rem;
		}

		#commitDesc {
			height: auto;
			max-width: 100%;

			padding: 0.5rem;

			overflow-y: visible;
			overflow-x: hidden;
			overflow-wrap: break-word;
		}

		#commitSubmit {
			padding: 0.5rem;

			background-color: GLOBAL.$TILE_GRAY_3;

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_3_HOVER;
			}

			&:active {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_3_ACTIVE;
			}
		}

		background-color: GLOBAL.$TILE_GRAY_1;
	}
}
