@use '../../../styles/GLOBAL.scss';

#Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-width: 15rem;
	width: 25vw;
	max-width: 30rem;

	height: calc(100vh - 2 * GLOBAL.$SECTION_SPACING_LARGE);

	// background-color: red;

	#repo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		box-sizing: border-box;

		background-color: GLOBAL.$TILE_GRAY_2;

		&.expanded {
			height: inherit;
		}

		#selectedRepo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;

			padding: 1rem GLOBAL.$SECTION_PADDING;
			padding-right: 0.5rem;
			box-sizing: border-box;

			width: 100%;
			min-height: 1rem;

			border: 1px solid black;

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_1_HOVER;

				#dropdownArrow {
					padding: 0.25rem;
					background-color: GLOBAL.$TILE_GRAY_1_HOVER;
				}
			}

			#name {
				display: inline;
				overflow: hidden;
				overflow-wrap: break-word;

				text-wrap: wrap;
			}

			#dropdownArrow {
				padding: 0.25rem;
			}
		}

		#toggleable {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			width: 100%;
			height: 100%;

			box-sizing: border-box;

			background-color: blue;
		}
	}

	#ChangesCategories {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;

		height: 100%;

		margin: GLOBAL.$SECTION_SPACING_MEDIUM 0;

		box-sizing: border-box;
		// padding: GLOBAL.$SECTION_PADDING;

		list-style-type: none;

		background-color: GLOBAL.$TILE_GRAY_1;

		.change_category {
			padding: GLOBAL.$SECTION_PADDING;

			border-bottom: 1px solid black;

			background-color: GLOBAL.$TILE_GRAY_2;

			transition: background-color 10s;

			&.selected {
				background-color: GLOBAL.$TILE_GRAY_3;

				&:hover {
					background-color: GLOBAL.$TILE_GRAY_3_HOVER;
				}

				&:active {
					background-color: GLOBAL.$TILE_GRAY_3_ACTIVE;
				}
			}

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_2_HOVER;
			}

			&:active {
				background-color: GLOBAL.$TILE_GRAY_2_ACTIVE;
			}
		}
	}

	#commit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		box-sizing: border-box;
		padding: GLOBAL.$SECTION_PADDING;
		padding-bottom: 0;

		input,
		textarea {
			margin-bottom: GLOBAL.$SECTION_PADDING;

			outline: none;
			border: 1px solid black;

			padding: 0.25rem 0.5rem;
		}

		#commitDesc {
			height: auto;
			max-width: 100%;

			padding: 0.5rem;

			overflow-y: visible;
			overflow-x: hidden;
			overflow-wrap: break-word;
		}

		#commitSubmit {
			padding: 0.5rem;

			background-color: GLOBAL.$TILE_GRAY_3;

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_3_HOVER;
			}

			&:active {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_3_ACTIVE;
			}
		}

		background-color: GLOBAL.$TILE_GRAY_1;
	}
}
