@use '../../../styles/GLOBAL.scss';

#Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-width: 15rem;
	width: 25vw;
	max-width: 30rem;

	height: calc(100vh - 2 * GLOBAL.$SECTION_SPACING_LARGE);

	background-color: red;

	#repo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		box-sizing: border-box;

		background-color: GLOBAL.$TILE_GRAY_1;

		&.expanded {
			height: inherit;
		}

		#selectedRepo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;

			padding: 1rem 0.75rem;
			padding-right: 0.5rem;
			box-sizing: border-box;

			width: 100%;
			min-height: 1rem;

			border: 1px solid black;

			&:hover {
				cursor: pointer;
				background-color: GLOBAL.$TILE_GRAY_1_HOVER;

				#dropdownArrow {
					padding: 0.25rem;
					background-color: GLOBAL.$TILE_GRAY_1_HOVER;
				}
			}

			#name {
				display: inline;
				overflow: hidden;
				overflow-wrap: break-word;

				text-wrap: wrap;
			}

			#dropdownArrow {
				padding: 0.25rem;
			}
		}

		#toggleable {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			width: 100%;
			height: 100%;

			box-sizing: border-box;

			background-color: blue;
		}
	}

	#ChangesCategories {
		height: 100%;

		background-color: aqua;
	}

	#commit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		box-sizing: border-box;
		padding: 0.75rem;
		padding-bottom: 0;

		input {
			margin-bottom: 0.75rem;

			padding: 0.25rem 0.5rem;
		}

		#commitSubmit {
			padding: 0.5rem;
		}

		background-color: GLOBAL.$TILE_GRAY_1;
	}
}
